apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingAdmissionPolicy
metadata:
  name: workspace-protection
spec:
  failurePolicy: Fail
  matchConstraints:
    resourceRules:
      - apiGroups: ["core.otterscale.io"]
        apiVersions: ["v1alpha1"]
        operations: ["UPDATE", "DELETE"]
        resources: ["workspaces"]
  validations:
    - expression: >-
        'system:masters' in request.userInfo.groups || oldObject.spec.users.exists(u, u.subject == request.userInfo.username && u.role == 'admin')
      message: "only users with the 'admin' role defined in this workspace can modify or delete it."
