apiVersion: v1
kind: ConfigMap
metadata:
  name: otterscale-modules
  # This ConfigMap is typically created in the operator's namespace.
  # In the default kustomize overlay, that's `otterscale-operator-system`.
  namespace: otterscale-operator-system
data:
  # A list of module templates. Each entry contains a single Kubernetes manifest
  # for either a Flux Kustomization or HelmRelease.
  #
  # The operator selects templates by:
  # - `Module.spec.templateRef` if set, otherwise `Module.metadata.name`.
  #
  # The `manifest` can be any valid YAML object; the controller will validate that:
  # - kind is `Kustomization` or `HelmRelease`
  # - the object is namespaced (metadata.namespace is set; otherwise the controller may default it)
  modules.yaml: |
    - id: module-sample
      manifest: |
        apiVersion: kustomize.toolkit.fluxcd.io/v1
        kind: Kustomization
        metadata:
          name: module-sample
          namespace: flux-system
        spec:
          interval: 10m
          path: ./clusters/my-cluster/module-sample
          prune: true
          sourceRef:
            kind: GitRepository
            name: flux-system
    - id: module-sample-helm
      manifest: |
        apiVersion: helm.toolkit.fluxcd.io/v2
        kind: HelmRelease
        metadata:
          name: module-sample-helm
          namespace: flux-system
        spec:
          interval: 10m
          chart:
            spec:
              chart: podinfo
              version: "6.x"
              sourceRef:
                kind: HelmRepository
                name: podinfo
                namespace: flux-system
          values:
            replicaCount: 1
