apiVersion: apps.otterscale.io/v1
kind: SimpleApp
metadata:
  labels:
    app.kubernetes.io/name: otterscale-operator
    app.kubernetes.io/managed-by: kustomize
  name: simpleapp-sample
spec:
  # Deployment specification
  deploymentSpec:
    replicas: 1
    template:
      spec:
        containers:
        - name: nginx
          image: nginx:1.21
          commands: ["/bin/sh", "-c", "echo Hello, Otterscale! && sleep 3600000"]
          ports:
          - containerPort: 80
            name: http
            protocol: TCP
          env:
          - name: APP_ENV
            value: production
          - name: LOG_LEVEL
            value: info
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          volumeMounts:
          - name: data
            mountPath: /usr/share/nginx/html
        volumes:
        - name: data
          persistentVolumeClaim:
            claimName: simpleapp-sample-pvc

  # Service specification
  serviceSpec:
    type: ClusterIP
    ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP

  # PVC specification
  pvcSpec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 10Gi
    storageClassName: ceph-ext4
